<h2>メモを編集しました</h2>
<p>No.：<%= @original_file["number"] %></P>
<p>タイトル：<%= CGI.escapeHTML(@original_file["title"]) %></p>
<p>本文： <%= CGI.escapeHTML(@original_file["body"]) %></p>
<a href='/'>TOPへ戻る</a>
